:root {
    /*Primary*/
    --Strong-Cyan : hsl(171, 66%, 44%);
    --Light-Blue : hsl(233, 100%, 69%);
    /*Neutral*/
    --Dark-Grayish-Blue : hsl(210, 10%, 33%);
    --Grayish-Blue : hsl(201, 11%, 66%);

    --Font-size : 18px;

    --font-Bai : 'Bai Jamjuree', sans-serif;
}
.container {
    display: grid;
    width: 100vw;
    font-family: var(--font-Bai);
}
.header {    
    background: bottom center no-repeat url(/images/bg-header-desktop.png);
    background-size: cover;
    text-align: center;
}
.img-logo {
    margin-top: 90px;
    margin-bottom: 50px;
}
.title {
    font-size: xx-large;    
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 20px;
}
.txt-title {
    width: 50%;
    margin: 20px auto;
    color: var(--Grayish-Blue);
}
.btn-container {
    width: 50%;
    margin: 30px auto;
}
.btn-ios {
    background-color: var(--Strong-Cyan);
    border: none;
    border-radius: 20px;
    padding: 12px 44px;
    font-weight: 400;
    color: #fff;
    box-shadow: 0px 3px 0px 0px rgba(38,112,101,1);
}
.btn-mac {
    background-color: var(--Light-Blue);
    border: none;
    border-radius: 20px;
    padding: 12px 44px;
    font-weight: 400;
    color: #fff;
    box-shadow: 0px 3px 0px 0px rgba(62,80,199,1);
    margin-left: 20px;
}
.sub-title {
    color: var(--Dark-Grayish-Blue);
    text-align: center;
    font-size: x-large;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 30px;
}
.sub-text {
    text-align: center;
    width: 50%;
    margin: 20px auto;
    color: var(--Grayish-Blue);
}
.img-computer img {
    margin-left: -50px;
    width: 100%;
    object-fit: cover;
}
.img-datos {
    display: flex;
}
.content-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 76px;
}
.quick-search h3 {
    font-weight: 400;
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 20px;
}
.quick-search p {
    color: var(--Grayish-Blue);
    width: 50%;
}
.icloud-sync h3 {
    font-weight: 400;
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 20px;
}
.icloud-sync p {
    color: var(--Grayish-Blue);
    width: 50%;  
}
.complete-history h3{
    font-weight: 400;
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 20px;
}
.complete-history p {
    color: var(--Grayish-Blue);
    width: 50%;
}
.access-clipboard {
    
    text-align: center;
}

/*mobile*/
@media (max-width : 375px) {
    .header {
        background: bottom center no-repeat url(/images/bg-header-mobile.png);
        background-size: cover; 
    }
}